<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard | Handlebars</title>
</head>
<body>
  <h1>Dashboard</h1>
  <section style="margin-top: 26px; display:flex;margin: left 20px;">
    <table style="justify-content: space-between;">
      <tr>
        <td><button class="m-2 btn btn-primary">Add</button></td>
        <td><button class="m-2 btn btn-success">Pause</button></td>
        <td><button class="m-2 btn btn-warning">Mute</button></td>
        <td><button class="m-2 btn btn-danger">Remove</button></td>
      </tr>
    </table>
  </section>

  <h5 class="mt-5" style="margin: left 20px;">
    <a href="/">Back here</a>
  </h5>

</body>
</html>