<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width`, initial-scale=1.0">
  <title>Main | Handlebars</title>

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <nav>

    <a class="nav-a" href="/">Home</a>

    <ul>

      <li><a class="li-a" href="#">Posts</a></li>
      <li><a class="li-a" href="#">About</a></li>
      <li><a class="li-a" href="#">Contact</a></li>

    </ul>

  </nav>


  {{{body}}}
  



<footer><a href="#">
  &copy; by Fsilva</a>
</footer>

  <script src=""></script>
</body>
</html>