* {

  padding: 0;
  margin: 0;

}


/* Area geral do header */
#header {

  display: flex;
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  background: #46483e;
}


/* Posicionamento dos itens de lista */
#menu {

  display: flex;
  list-style: none;
  gap: 0.5rem;
}

/* Botao que sera o hamburger */
#btn-mobile {
  display: none;
}


@media (max-width: 600px) {

  /* posicionamento da lista responsiva */
  #menu {

    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: #46483e;
    height: 0px;
    transition: .5s;
    visibility: hidden;
    overflow-y: hidden;

  }

  /* Altura e visibilidade da lista */
  #nav.active #menu {

    height: 40vh;
    visibility: visible;
    overflow-y: auto;

  }

  /*  Alinhamento do itens da lista */
  #menu a {

    padding: 1rem 0;
    margin: 0 1rem;
  }

  /* estilos para o botao */
  #btn-mobile {
    display: flex;
    gap: .5rem;
    padding: .5rem 1rem;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 5px;
    background: none;
    cursor: pointer;
    font-size: 1rem;
  }

  #btn-mobile:hover {

    transition: .3s;
    background: #525252;
  }


  /* construindo os trasinhos do hamburger */
  #hamburger {
    content: '';
    width: 25px;
    border-top: 3px solid black;
  }

  /* replicando o trasinho do hamburger */
  #hamburger::after {
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    background: currentColor;
    transition: .3s;
    position: relative;

  }

  /* replicando o terceiro trasinho do hamburger */
  #hamburger::before {
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    background: currentColor;
    transition: .3s;
    position: relative;

  }

  /* apagando o primeiro tracinho do menu */
  #nav.active #hamburger {
    border-top-color: transparent;
  }

  /* girando o segundo tracinho em 135 graus horario*/
  #nav.active #hamburger::before {

    transform: rotate(135deg);
  }

  /* girando o terceiro tracinho em 135 graus sentido ante-horario e elevando ele a altura de 7 pixels 
  a cima de sua posicao inicial */
  #nav.active #hamburger::after {

    transform: rotate(-135deg);
    top: -7px;
  }


}

/* estilos dos links*/
.menu-item a {
  display: block;
  text-decoration: none;
  font-family: sans-serif;
  color: rgb(204, 204, 204);
  padding: 1rem 0;
  margin: 1rem;


}

/* hover nos links */
.menu-item:hover {

  transition: all .3s ease-in-out;
  background: #525252;
}