<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Handlebras</title>

<link rel="stylesheet" href="/css/style.css">
  
</head>
<body>


  <!--nav-bar static-->

  <nav class="navbar">
    
    <a class="logo" href="/"><img src="/img/nodejs.png" alt="Logo Nodejs"></a>

    <ul>
      <li><a class="li-a" href="/blog">Posts</a></li>
      <li><a class="li-a" href="/about">About</a></li>
      <li><a class="li-a" href="contacts">Contact</a></li>
    </ul>

  </div>
</nav>



  <!--body dinamic-->
  {{{body}}}


  <!--footer static-->
<footer class="footer">
  &copy; by Fsilva
</footer>

<script src="#"></script>
</body>
</html>