

<h1 style="font-size: 4em; text-align: center;">
  Welcome handlebars
</h1>

<h3 style="padding: 6; text-align: center;">
  Aqui textos do site
</h3>


<section style="display: flex; justify-content:space-around;">



<ul>
  <li style="font-size: 18px;">Nome</li>
  <li style="font-size: 18px;">Sobrenome</li>
  <li style="font-size: 18px;">idade</li>
  <li style="font-size: 18px;">profissao</li>
  
</ul>

<ul>
  <li>{{userData.name}}</li>
  <li>{{userData.surname}}</li>
  <li>{{userData.age}}</li>
  <li>{{userData.profession}}</li>
</ul>

</section>


